* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0;
}

a:hover {
    text-decoration: none;
}

/* ========== Create ========== */

.section {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}

.none {
    display: none !important;
}

/* ===== Left ===== */

.left {
    width: 70%;
}

.post-type {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333333;
    margin-bottom: 10px;
}

.post-type p {
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
}

.post-type span {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    margin-right: 8px;
}

.post-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    border: 1px solid #30303025;
    border-radius: 5px;
    padding: 20px;
}

.opt,
.opt form,
.InputBox,
.TextAreaBox,
.ImageBox {
    width: 100%;
}

.SelectBox {
    display: flex;
    align-items: center;
}

.custom-select {
    width: 40%;
    color: #333333bb;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #30303025 !important;
    box-shadow: none;
    margin-bottom: 10px;
}

.custom-select:focus {
    box-shadow: none;
}

.InputBox {
    display: flex;
    align-items: center;
}

.InputBox input {
    width: 100%;
    font-size: 16px;
    color: #333333;
    border: none;
    border: 1px solid #30303025;
    border-radius: 5px;
    padding: 5px 15px;
}

.InputBox input::placeholder {
    color: #333333bb;
    font-size: 16px;
    font-weight: 600;
}

.InputBox input:focus,
.InputBox input:valid {
    outline: none;
    box-shadow: none;
    border: 1px solid #333333;
}

.TextAreaBox {
    margin: 0px;
}

.cke_chrome {
    border: 1px solid #30303025 !important;
    border-radius: 5px !important;
    overflow: hidden;
}

.form-label {
    color: #333333bb;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 16px 0px 5px 0px;
}

.form-label > span {
    color: #333333bb;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 8px -2px 0px;
}

input[type="file" i] { 
    width: 100%;
    background: #f8f8f8;
    border: 1px solid #30303025;
    border-radius: 5px;
    cursor: pointer;
    padding: 50px 50px;
}

input[type="file" i]:focus { 
    outline: none;
    box-shadow: none;
    border: 1px solid #333333;
}

.post-form div button {
    color: #ffffff;
    font-size: 16px;
    background: #006fee;
    border: 1px solid #006fee;
    border-radius: 5px;
    padding: 6px 25px;
    margin-top: 20px;
    transition: .3s linear;
}

.post-form div button:hover {
    opacity: 0.9;
}

.cancel {
    color: #006fee;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #006fee;
    border-radius: 5px;
    padding: 9px 20px;
    margin-left: 10px;
    transition: .3s linear;
}

.cancel:hover {
    opacity: 0.9;
}

/* ========== Edit ========== */

.TitleBox h1 {
    color: #333333;
    font-size: 22px;
    margin: 0px 0px 16px 0px;
}

